<main>
  <div class="container">
    <form [formGroup]="form" class="converter">
      <div class="column">
        <input type="number"
               formControlName="firstValue"
               name="first"
               class="input"
        >
        <select name="1" formControlName="firstCurrency" class="select">
          <ng-container *ngIf="data$ | async as rates">
            <option *ngFor="let currency of rates | orderBy" [value]="currency.cc">{{currency.cc}}</option>
          </ng-container>
        </select>
      </div>

      <div class="column">
        <input type="number"
               formControlName="secValue"
               name="second"
               class="input"
        >
        <select name="2" formControlName="secCurrency" class="select">
          <ng-container *ngIf="data$ | async as rates">
            <option *ngFor="let currency of rates | orderBy" [value]="currency.cc">{{currency.cc}}</option>
          </ng-container>
        </select>
      </div>
    </form>
  </div>
</main>
